name: CI

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      repository:
        required: true
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  check:
    name: "Coding Chores"
    runs-on: wehmoen-demo-action
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          repository: ${{ inputs.repository }}
          fetch-depth: 0

      - name: "Run Automated Tests"
        uses: wehmoen-dev/ronin-buddy@master

        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          app_installation_id: 54060357
          app_private_key: ${{ secrets.BUDDY_PRIVATE_KEY }}
          app_id: 977121
          sentry_dsn: ${{ secrets.SENTRY }}
